@{
    ViewData["Title"] = "Home Page";
}
    <h4><b>Random passcode (passcode #@ViewBag.count)</b></h4>
<div class="passbox">
    <h2><b>@ViewBag.password</b></h2>
</div>
    <form action="">
        <input id="generate" type="Submit">
    </form>